body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: navajowhite;
}

#wrapper {
    postition: absolute;
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1em;
    background: white;
    border: 2px solid navy;
}